* {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a {
  color: #0645AD;

}
body {
  display: flex;
  margin: 0;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: normal;
  color: #252525;

}

.wrapper {
  order: 1;
  width: 100%;
  margin: 0 auto;
}

header {
  background: #F6F6F6;
  height: 79px;
  border-bottom: 1px solid #A7D7F9;

}

.first-top-nav {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  font-size: 12px;
  line-height: 14px;

}
.first-top-nav a {
  padding: 5px;
}
.second-bottom-nav {
  height: 55px;
  background-color: #F8F8F8;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.left-nav a {
  border-left: 1px solid #A7D7F9;
  border-right: 1px solid #A7D7F9;


}
.right-nav a {
  border-left: 1px solid #A7D7F9;
  border-right: 1px solid #A7D7F9;


}
main {
  height: auto;
  margin: 0px 25px;
}

h2 {
  border-bottom: 1px solid #AAAAAA;
  font-family: Georgia, Times, serif;
  font-weight: normal;
  font-size: 29px;
  line-height: 37px;

}
h4 {
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;

}
h5 {
  margin-top: -15px;
  font-family: sans-serif;
  font-size: 13px;
  line-height: 21px;
  font-weight: normal;
  color: #252525;
}
.titles {
  border-bottom: 1px solid #AAAAAA;
  font-family: Georgia, Times, serif;
  font-weight: normal;
  font-size: 21px;
  line-height: 27px;
}
.apollo-awards-titles {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 21px;

}
.picture-box1 {
  font-family: sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  background-color: #F9F9F9;
  float: right;
  width: 270px;
  height: 520px;
  color: 249px;
  border: 1px solid #AAAAAA;
  text-align: center;
}

.picture-box1 p {
  margin-top: 0px;
  margin-bottom: -15px;
}
dl div {
}
dt {
  margin-left: -10px;
  margin-right: 60px;
  font-weight: bold;
  width: 17px;
  display: inline-block;;
  text-align: left;


}
dd {
  margin: 0;
  width: 150px;
  display: inline-block;;
  text-align: left;
}
.picture-box2 {
  float: right;
  width: 220px;
  height: 210px;
  color: 249px;
  border: 1px solid #AAAAAA;
  text-align: left;
  padding: 5px;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 17px;
  color: #252525;
  font-weight: normal;

}
.picture-box3 {
  float: right;
  width: 220px;
  height: 337px;
  color: 249px;
  border: 1px solid #AAAAAA;
  text-align: left;
  padding: 5px;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 17px;
  color: #252525;
  font-weight: normal;
}
.picture-box4 {
  float: right;
  width: 180px;
  height: 277px;
  color: 249px;
  border: 1px solid #AAAAAA;
  text-align: left;
  padding: 5px;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 17px;
  color: #252525;
  font-weight: normal;
}
.content-menu-box {
  background-color: #F9F9F9;
  width: 121px;
  height: 264px;
  color: 249px;
  border: 1px solid #AAAAAA;
  text-align: left;
}

.content-menu-box h4 {
  font-size: 13px;
  line-height: 17px;
  font-weight: bold;
  text-align: center;
}
.content-menu-box ul {
  list-style-type: none;
  padding-left: 10px;
  font-size: 13px;
  line-height: 21px;

}

.clrfloat::after {
  content: "";
  display:block;
  clear: both;
}


footer {
  background: #F6F6F6;
  height: 151px;
  border-top: 1px solid #A7D7F9;
  font-size: 11px;
  line-height: 16px;
}

.footer-flex {
  width: 600px;
  display: flex;
  justify-content: space-between;
}
aside {
  order: 0;
  background: #F6F6F6;
  width: 176px;
  flex: 1 0 auto;
  border-right: 1px solid #A7D7F9;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 8px;
  color: #4D4D4D;

}


aside ul {
  padding-left: 10px;
}

aside div {
  margin-left: 27px;
  margin-right: 27px;
  border-bottom: 1px solid #D8D8D8;

}
.logo {
  margin-left: 27px;
  margin-right: 27px;

  width: 140px;
  height: 150px;
  background-position: center center;
}
