body {
  background-color: #690A0A;
}

.container {
  margin: auto;
  background: black;
}

.row {
  width: 800px;
  justify-content: center;
  display: flex;
  margin: auto;
}

.left {
  align-items: stretch;
  background: black;
  width: 100px;
  height: 500px;
}

.middle {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 500px;
}

.img_main {
  margin: 0;
  width: auto;
  height: 400px;
}

.img_big {
  width: 600px;
  height: 400px;
}

.img_small {
  margin: 0;
  width: 150px;
  height: 100px;
}

.img_row {
  display: flex;
  justify-content: center;
  width: auto;
  height: 100px;
}

.right {
  background: black;
  width: 100px;
  height: 500px;
}

.arrow_button {
  width: 50px;
  height: 50px;
  border: 0;
  background-color: rgba(100, 100, 100, 1);
  background-size: 100% 100%;
  margin-top: 185px;
}

.big_left, .small_left {
  margin-left: 50px;
  background-image: url(leftarrow.png);
}

.big_right, .small_right {
  background-image: url(rightarrow.png);
}

h1, h2 {
  color: white;
  text-align: center;
}
