.container {
  /*width: 622px;
  height: 753px;*/
  margin: auto;
}

.row {
  width: 800px;
  justify-content: center;
  display: flex;
  margin: auto;

}


.left {
  background: #FEA500;
  width: 100px;
  height: 500px;
}

.middle {
  background: #FE0000;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 500px;
}
.img_main {
  margin: 0;
  background: #00FFFF;
  width: auto;
  height: 400px;
}

.img_big {
  width: 600px;
  height: 400px;
}

.img_small {
  margin: 0;
  width: 150px;
  height: 100px;
}

.img_row {
  display: flex;
  justify-content: center;
  background: #0000FE;
  width: auto;
  height: 100px;
}
.right {
  background: #81007F;
  width: 100px;
  height: 500px;
}
