article {
  font-size: 18px;
  width: 200px;
  padding: 45px;
  border: 2px solid black;
  margin-bottom: 20px;
}
.duck {
  background: url(duck.png) no-repeat;
}
.backgleft {
  background-position: left center;
}
.backgcenter {
  background-position: center center;
}
.backgright {
  background-position: right bottom;
}
