body {
  box-sizing: border-box;
  font-family: Helvetica;
}

div {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

.personal, .contact {
  margin-left: 5px;
  margin-right: 5px;
}

form {
  width: 620px;
  height: 950px;
  background-color: #DCD6CD;
  margin: 0 auto;
  padding: 60px 100px;
  font-size: 15px;
  color: #4A4261;
}

h3 {
  color: white;
  background-color: #938C97;
  width: 285px;
  height: 40px;
  border-radius: 3px;
  padding: 10px 0px 0px 20px ;
}
textarea {
  height: 15em;
}

#housetypes, #name-input, #tel-input, #email-input, #facebook-input, #twitter-input {
  width: 300px;
  height: 37px;
  border-radius: 3%;
}

.data {
  display:flex;
  flex-direction: row;
}

.flexi {
  display:flex;
  flex-direction: row;
}

.cancel {
  float: right;
  background: #4A4261;
}

#sf {
  width: 220px;
  height: 35px;
  background-color: white;
  text-align: center;
  color: #554E6B;
  border-radius: 7px;
  font-size: 14px;

}
#save-button {
  width: 220px;
  height: 45px;
  background-color: #4A4261;
  text-align: center;
  color: white;
  border-radius: 7px;
  font-size: 20px;
}

#cancel-button {
  width: 160px;
  height: 45px;
  background-color: white;
  text-align: center;
  color: #554E6B;
  border-radius: 7px;
  font-size: 14px;

}
.button {
  display: inline-block;
}

h2 {
  color: #4A4261
}
